<ion-list no-margin no-lines>
    <ng-template ngFor let-option [ngForOf]="collapsableItems" let-i="index">

        <!-- It is a simple option -->
        <ng-template [ngIf]="!option.subItemsCount">
            <ion-item class="option" [ngClass]="menuSettings?.showSelectedOption && option.selected ? menuSettings.selectedOptionClass : null" (tap)="select(option)" tappable>
                <ion-row>
                    <ion-col>
                        <ion-icon *ngIf="option.iconName" [name]="option.iconName"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                {{ option.displayName }}
                    </ion-col>
                </ion-row>
            </ion-item>
        </ng-template>

        <!-- It has nested options -->
        <ng-template [ngIf]="option.subItemsCount">

            <ion-list no-margin class="accordion-menu">

                <!-- Header -->
                <ion-item class="header" [ngClass]="menuSettings?.showSelectedOption && option.selected ? menuSettings.selectedOptionClass : null" (tap)="toggleItemOptions(option)" tappable>
                    <ion-icon [class.rotate]="option.expanded" class="header-icon" [name]="option.iconName || menuSettings.arrowIcon"></ion-icon>
                        {{ option.displayName }}
                </ion-item>

                <!-- Sub items -->
                <div [style.height]="option.expanded ? ((itemHeight + 1) * option.subItemsCount) + 'px' : '0px'" class="options">
                    <ng-template ngFor let-item [ngForOf]="option.subOptions">
                        <ion-item class="sub-option" [style.padding-left]="subOptionIndentation" [class.no-icon]="menuSettings?.indentSubOptionsWithoutIcons && !item.iconName" [ngClass]="menuSettings?.showSelectedOption && item.selected ? menuSettings.selectedOptionClass : null" tappable (tap)="select(item)">
                            <ion-icon *ngIf="item.iconName" [name]="item.iconName"></ion-icon>
                            {{ item.displayName }}
                        </ion-item>
                    </ng-template>
                </div>
            </ion-list>

        </ng-template>

    </ng-template>
</ion-list>