// ------------------------------------ //
// Global variables                     //
// ------------------------------------ //
$item-color-bg: #ccc;
$header-color-bg: #eee;
$animation-duration: 0.3s;

// ------------------------------------ //
// Hide scroll bar in the side menu     //
// ------------------------------------ //
ion-menu ion-content .scroll-content::-webkit-scrollbar { 
    display: none; 
}

// ------------------------------------ //
// Simple items                         //
// ------------------------------------ //
ion-item.item-ios,
ion-item.item-md,
ion-item.item-wp {

    padding-left: 16px;
    padding-right: 16px;
    min-height: 50px;

    &.item.item-block {
        border-bottom: 1px solid $item-color-bg;
    }
    
    & [item-left], 
    & [item-right] {
        margin-left: 0;
    }

    & ion-icon[item-left] + .item-inner, 
    & ion-icon[item-left] + .item-input {
       margin-left: 8px;
    }
}
ion-menu ion-backdrop{
    display: none;
}

// ------------------------------------ //
// Multi level items                    //
// ------------------------------------ //
ion-list.accordion-menu {

    ion-item.header {

        background-color: $header-color-bg;

        ion-icon.header-icon {
            will-change: transform;
            transition: transform $animation-duration ease;

            &.rotate {
                -webkit-transform: rotate(-180deg);
                -moz-transform: rotate(-180deg);
                -ms-transform: rotate(-180deg);
                -o-transform: rotate(-180deg);
                transform: rotate(-180deg);
            }
        }
    }

    div.options {
        will-change: height;
        transition: height $animation-duration ease;
        overflow-y: hidden;
        height: 0;
    }

    // Sub options without icons
    ion-item.item.item-block.item-ios.no-icon .item-inner {
        margin-left: 48px;
    }
    
    ion-item.item.item-block.item-md.no-icon .item-inner,
    ion-item.item.item-block.item-wp.no-icon .item-inner {
        margin-left: 40px;
    }
}
side-menu-content {
ion-item.item-ios, ion-item.item-md, ion-item.item-wp{
padding-left: 8px;
padding-right: 8px;
text-align: center;
}
.item-md.item-block .item-inner{
    padding-right: 0;
}
.label-md{
    margin:8px 0 8px 0;
}
ion-icon{
    font-size: 2.2em;
}
}
// side navigation 
// .menu-inner{
// width: 10%;
// }
