
<ion-split-pane>
	<!--  our side menu  -->
	<ion-menu side="left" persistent="true" [content]="content" (ionClose)="collapseMenuOptions()">
		<!-- Menu Header -->
		<ion-header>
			<ion-toolbar color="primary">
			<!-- <ion-title>{{ (sideMenuSettings.accordionMode ? 'Kone Precalc' : 'Default') }}</ion-title> -->
			</ion-toolbar>
		</ion-header>
		<ion-content>
		<!-- Side Menu -->
			<side-menu-content [settings]="sideMenuSettings" [options]="options" (selectOption)="selectOption($event)"></side-menu-content>
		</ion-content>
	</ion-menu>
	<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
	<ion-nav [root]="rootPage" #content swipeBackEnabled="false">
		
	</ion-nav>
</ion-split-pane>