side-menu-content {

    $active-color: map-get($colors, primary);

    // In this example, we have used the following name
    // for the selected option in the settings object:
    // selectedOptionClass: 'active-side-menu-option'

    // Single option
    // ------------------
    ion-item.item.item-block.option {
        background-color: #fff;
        color: #222;

        &.active-side-menu-option {
            color: $active-color;
            font-weight: 700;
        }
    }

    // Header
    // ------------------
    ion-item.item.item-block.header {
        background-color: #eee;
        color: #222;

        &.active-side-menu-option {
            color: $active-color;
            font-weight: 700;
        }
    }

    // Sub option
    // ------------------
    ion-item.item.item-block.sub-option {
        background-color: #fff;
        color: #222;

        &.active-side-menu-option {
            color: $active-color;
            font-weight: 700;            
        }
    }
}
.split-pane-md.split-pane-visible > .split-pane-side{
    max-width: 10%;
    min-width: 100px;
}
.split-pane-md.split-pane-visible > .split-pane-side.menu-content{
    max-width: 90%;

}

