<ion-header>
    <header-content></header-content>
</ion-header>

<ion-content padding>
  <h3>Projects</h3>

 <ion-grid class="table table-striped table-hover">
   <ion-row class="header-row">
     <ion-col></ion-col>
     <ion-col>Name</ion-col>
     <ion-col>Customer</ion-col>
     <ion-col>Stage</ion-col>
     <ion-col>Opportunity Id</ion-col>
     <ion-col>Kone Project Id</ion-col>
     <ion-col>Country</ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>Name</ion-col>
      <ion-col>Customer</ion-col>
      <ion-col>Stage</ion-col>
      <ion-col>Opportunity Id</ion-col>
      <ion-col>Kone Project Id</ion-col>
      <ion-col>Country</ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>Name</ion-col>
      <ion-col>Customer</ion-col>
      <ion-col>Stage</ion-col>
      <ion-col>Opportunity Id</ion-col>
      <ion-col>Kone Project Id</ion-col>
      <ion-col>Country</ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>Name</ion-col>
      <ion-col>Customer</ion-col>
      <ion-col>Stage</ion-col>
      <ion-col>Opportunity Id</ion-col>
      <ion-col>Kone Project Id</ion-col>
      <ion-col>Country</ion-col>
    </ion-row>

 </ion-grid>

</ion-content>