
<ion-navbar >
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
        <img align="right" class="title-image" alt="logo" height="40"   src="assets/img/logo.png" >
    </ion-title>
</ion-navbar>